{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
</head>
<body>

	<section class="header">
		<div class="hero-text">
			<h1>Venice of the North Amsterdam</h1>
		</div>
	</section>

	<section>
		<div class="heading">
			<p>Description</p>
		</div>

		<div class="content">
			<p class="matter">Bengaluru (also called Bangalore) is the capital of India's southern Karnataka state. The center of India's high-tech industry, the city is also known for its parks and nightlife.By Cubbon Park, Vidhana Soudha is a Neo-Dravidian legislative building. Former royal residences include 19th-century Bangalore Palace, modeled after England’s Windsor Castle, and Tipu Sultan’s Summer Palace, an 18th-century teak structure.
			</p>

		<hr>
		</div>

	</section>

	<section>
		<div class="heading">
			<p>Earth</p>
		</div>

		

		<div class="content">
			<p class="matter">Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.
			</p>

		<hr>
		</div>

	</section>

	




</body>
</html>